.btn-kgmb {
    background-color: var(--color-white);
    border: 1px solid var(--color-main);
    color: var(--color-main);
    text-transform: uppercase;
    font-size: .75rem!important;
    font-weight: 600; 

    &:hover, &.show {
        background-color: var(--color-main);
        color: var(--color-white);
    }
}

.btn-kgmb-inverse {
    background-color: rgba(var(--color-rgb-main), .65);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: .75rem!important;
    font-weight: 600; 

    &:hover, &.show {
        background-color: var(--color-main);
        color: var(--color-white);
    }
}

.btn-kgmb-alert {
    background-color: rgba(var(--color-rgb-red), .75);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: .75rem!important;
    font-weight: 600; 

    &:hover, &.show {
        background-color: var(--color-red);
        color: var(--color-white);
    }
}

.btn-kgmb-warn {
    background-color: rgba(var(--color-rgb-yellow), .75);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: .75rem!important;
    font-weight: 600; 

    &:hover, &.show {
        background-color: var(--color-yellow);
        color: var(--color-white);
    }
}

.dropdown-menu {
    background-color: var(--color-white);   
}