.modal {
    
    .modal-dialog {
        .modal-content {
            border-radius: 0.5rem;
            border: none;

            .modal-header {
                background-color: var(--color-main);
                font-size: 1.5rem;
                color: var(--color-white);
                h1, h2, h3, h4, h5, h5 {
                    margin-bottom: 0;
                }

                .input-group {
                    width: 85%;
                    .input-group-text {
                        background-color: var(--color-black);
                        border: none;
                        font-size: .875rem;
                        text-transform: uppercase;
                    }
                }
            }

            .modal-body {
                form {
                    label {
                        font-size: .875rem;
                        color: var(--color-main);
                        text-transform: uppercase;
                        font-weight: 500;
                    }
    
                    input[type="text"], textarea {  
                        border: 1px solid var(--color-main);
                        color: var(--color-black);
                        font-size: .875rem;
                    }
                }
            }

            .modal-footer {
                border-top: 1px solid var(--color-main);
                justify-content: flex-start;
            }
        }
    }

}

.modal-backdrop  {
    background-color: var(--color-black);

    &.show {
        opacity: .75;
    }
}