.pagination {
    .page-item {
        .page-link {
            color: var(--color-main);
        }
        
        &:first-child, &:last-child {
            .page-link {
                border-radius: 0!important;
            }
        }

        &.active {
            .page-link {
                background-color: var(--color-main);
                border: 1px solid var(--color-main);
                color: #FFF;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}