body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #264653;
    border-radius: 1rem;
    box-shadow: 0 0 15px #fff;
    color: #FFF;
}

form {
    padding: 3rem;
}