<?php $v->layout("_theme"); ?>

<div class="col-lg-8 mx-auto">
    <?php if (isset($location_serv->serviceItems)) : ?>
        <table class="table table-success table-striped">

            <thead>
                <tr>
                    <th scope="col">Offered</th>
                    <th scope="col">Category</th>
                    <th scope="col">Service</th>
                </tr>
            </thead>

            <tbody>
                <?php foreach ($location_serv->serviceItems as $key => $service) { ?>
                    <tr>
                        <td><?= $service->isOffered ? 'Yes' : 'Not'; ?></td>
                        <td><?= $service->freeFormServiceItem->categoryId; ?></td>
                        <td><?= $service->freeFormServiceItem->label->displayName; ?></td>
                    </tr>
                <?php } ?>
            </tbody>

        </table>

    <?php else : ?>
        <p>This location don't have anyone service registered!</p>
    <?php endif; ?>
</div>