@import './components/pagination';
@import './components/buttons';

:root {
    --color-main    : #16b897;
    --color-red     : #df4f4e;
    --color-yellow  : #cca000;
    --color-white   : #f7f9f9;
    --color-black   : #495057;
    --color-grey    : #979dac;

    //RGB variable
    --color-rgb-main    : 22, 184, 151;
    --color-rgb-red     : 223, 79, 78;
    --color-rgb-yellow  : 204, 160, 0;
    --color-rgb-white   : 247, 249, 249;
    --color-rgb-black   : 73, 80, 87;
    --color-rgb-grey    : 151, 157, 172;
}

main {
    h1 {
        font-size: 1.5rem;
        letter-spacing: 1.05px;
        color: var(--color-black);
    }

    p {
        strong {
            color: var(--color-main);
        }
    }

    .list-options {
        gap: .75rem;
    }

    .table {
        thead {
            th {
                background-color: var(--color-main);
                color: #fff;
            }
        }
        
        td {
            font-size: .725rem;

            &[data-status="OPEN"] {
                font-weight: bold;
                color: var(--color-main);
            }

            &[data-status="NOT_VERIFIED"] {
                font-weight: bold;
                color: var(--color-yellow);
            }

            &[data-status="CLOSED_PERMANENTLY"] {
                font-weight: bold;
                color: var(--color-red);
            }
        }
    }
    
    .input-group {
        .input-group-text {
            background-color: var(--color-main);
            border-color: var(--color-main);
            color: #fff;
        }
    
        .form-select, .form-control {
            border-color: var(--color-main);
            color: var(--color-main);
        }
    }
    
    .btn-outline-primary {
        color: var(--color-main);
        border-color: var(--color-main);
    
        &:hover {
            background-color: var(--color-main);
            border-color: var(--color-main);
        }
    }
}