.location {
    &.card {
        .image {
            position: relative;

            .card-img-top {
                border-radius: 0;
            }

            .details {
                position: absolute;
                bottom: .5rem;
                left: .5rem;
                max-width: calc(95% - .5rem);
                background-color: rgba(var(--color-rgb-main), .75);
                padding: .25rem .5rem;
                color: var(--color-white);
                border-radius: 1rem;
                .location-name {
                    margin-bottom: 0;
                    font-size: .875rem;
                    text-align: center;
                }
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .location-info {
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    align-items: flex-start;
                    gap: .25rem;
                    margin-bottom: .25rem;
                    font-size: .75rem;
                    color: #212f45;

                    i {
                        width: 20px;
                        text-align: center;
                        color: #16b897;
                        margin-top: .2rem;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    a {
                        color: #212f45;
                        text-decoration: none;
                    }
                    
                    &.status {
                        p {
                            font-weight: 600;
                        }
                    }

                    &.site {
                        a {
                            text-transform: none;
                            padding: 0;
                        }
                    }
                }

            }

            a {
                padding: .25rem .5rem;
                color: #FFF;
            }
        }
    }
}

.location-options {
    gap: 1rem;
}