:root {
    --color-main    : #16b897;
    --color-red     : #df4f4e;
    --color-yellow  : #cca000;
    --color-white   : #f7f9f9;
    --color-black   : #495057;
    --color-grey    : #979dac;

    //RGB variable
    --color-rgb-main    : 22, 184, 151;
    --color-rgb-red     : 223, 79, 78;
    --color-rgb-yellow  : 204, 160, 0;
    --color-rgb-white   : 247, 249, 249;
    --color-rgb-black   : 73, 80, 87;
    --color-rgb-grey    : 151, 157, 172;
}

@import './components/buttons';
@import './components/modal';

header {
    margin-bottom: 2rem;

    span {
        color: var(--color-red);
    }

    .btn-login {
        display: flex;
        justify-content: space-between;
        padding: .625rem 1rem;
        background: var(--color-red);
        align-items: center;
        border-radius: .25rem;
        text-decoration: none;

        img {
            margin-right: 1rem;
        }

        span {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1.34px;
            color: var(--color-white);
        }
    }

    .navbar-brand {
        span {
            color: var(--color-black);
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        position: relative;

        .user-img {
            height: 2.5rem;
            width: 2.5rem;

            &:hover {
                cursor: pointer;
            }
        }

        .user-name {
            font-size: 0.75rem;
            margin-right: 5px;
            text-decoration: underline;
        }
        
        .balloon {
            position: absolute;
            display: none;
            top: calc(100% + 10px);
            background: linear-gradient(150deg, #2072a2, #5d827c);
            right: -5px;
            padding: 15px;
            white-space: nowrap;
            color: var(--color-white);
            border-radius: 10px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            &.show {
                display: block;
                z-index: 5;
            }

            &::after {
                content: "";
                width: 0px;
                height: 0px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #2572a0;
                position: absolute;
                top: 0;
                left: calc(100% - 15px);
                transform: translate(-100%, -100%);
            }

            .balloon-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 1.25rem;
                }

                a {
                    color: var(--color-white);
                    text-transform: uppercase;
                    transition: color 0.3s ease-in-out;
                    text-decoration: none;

                    &:hover {
                        color: var(--color-black);
                    }
                }

                hr {
                    background: white;
                    height: 1px;
                    margin: 0.5rem;
                    width: 85%;
                }
            }
        }
    }
}

main {
    .jumbotron {
        background-color: var(--color-main);
        padding: 3rem 2rem;
        color: #fff;

        .btn-accounts {
            background: var(--color-white);
            color: var(--color-black);
        }

        a {
            color: var(--color-white);
        }
    }

    .breadcrumb {
        margin-top: -30px;
        margin-bottom: 30px;
        
        .breadcrumb-item {
            a {
                color: var(--color-main);
                transition: all .3s ease-in-out;
            }
            
            &.active {
                color: var(--color-grey);
                &::before {
                    color: var(--color-grey);
                }
            }

            &:hover {
                cursor: pointer;
                a {
                    color: var(--color-black);
                }
            }
        }

    }

    .input-group {
        .input-group-text {
            background-color: rgba(var(--color-rgb-main), .75);
            border-color: var(--color-main);
            color: #fff;
        }
    
        .form-select, .form-control {
            border-color: var(--color-main);
            color: var(--color-main);
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .card {
        border: 1px solid var(--color-main);
        border-radius: 0;
        background-color: var(--color-white);

        &.location {
            overflow: hidden;
            justify-content: space-between;
            height: 100%;

            .location-info {
                padding: 1rem;
            }

            .location-name {
                font-size: 1.125rem;
            }

            .location-image {
                padding: 0;
                img {
                    height: 100%;
                    border-radius: 0;
                }
            }

            .btn {
                font-size: 0.75rem;
            }
        }

        &.account, &.localPost {
            .image {
                position: relative;
                padding-top: 85%;

                .card-title {
                    position: absolute;
                    bottom: .5rem;
                    left: .5rem;
                    max-width: calc(95% - .5rem);
                    background-color: rgba(var(--color-rgb-black), .75);
                    padding: .25rem .5rem;
                    color: var(--color-white);
                    font-size: .875rem;
                    border-radius: 1rem;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .card-img-top {
            border-radius: 0;
        }

        .card-body {
            p {
                font-size: .75rem;
                color: var(--color-black);
                margin-bottom: .5rem;
            }

            a {
                color: var(--color-main);
                font-size: .75rem;
                text-transform: uppercase;
            }
        }

        .card-footer {
            background-color: rgba(var(--color-rgb-main), .5);
            border-radius: 0;
            border-top: var(--color-main);
            display: flex;
            justify-content: space-between;
        }
    }

    li {
        &[data-status='CLOSED_PERMANENTLY'] {
            .card {
                .image {
                   .details {
                        background-color: rgba(var(--color-rgb-red), .5);
                   }
                }

                .status p {
                    color: var(--color-red);
                }
            }
        }

        &[data-status='NOT_VERIFIED'] {
            .card {
                .image {
                    .details {
                         background-color: rgba(var(--color-rgb-yellow), .5);
                    }
                 }

                .status p {
                    color: var(--color-yellow);
                }
            }
        }
    }

    #modal_sheets .modal-body {
        max-height: 550px;
        overflow: auto;
    }
    
    .sheets-list .sheet-item {
        display: flex;
        align-items: center;
        padding: .25rem .75rem;
        margin-bottom: 5px;
        transition: all 0.1s cubic-bezier(0.37, 0.25, 0.55, 1.43);
        
        p {
            color: var(--color-main);
            margin-bottom: 0;
            font-size: .85rem;
        }

        &.hide {
            display: none;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            background-color: rgba(var(--color-rgb-black), .5);
            p {
                color: var(--color-white);
            }
        }
    }

    #modal_reviews .modal-body div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 8px #000;
        padding: 12px 5px;
        margin-bottom: 0.75rem;
        border-radius: 0.5rem;
        
        .modal-body {
            div {
                img {
                    height: 60px;
                    width: 60px;
                }

                h2 {
                    font-size: 1.5rem;
                    width: calc(80% - 75px);
                }

                p {
                    width: 15%;
                }
            }
        }
    }

    .multi-selector {
        position: relative;

        select {
            display: none;
        }

        .selector-container {
            position: relative;
            margin-top: 2rem;
            margin-bottom: 1rem;

            .arrow {
                position: absolute;
                top: 40%;
                right: 25px;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                width: 13px;
                height: 13px;

                &::after, &::before {
                    content: "";
                    background-color: transparent;
                    width: 3px;
                    height: 10px;
                    display: inline-block;
                    position: absolute;
                    border-bottom: 12px solid var(--color-main);
                    -webkit-transition: 0.4s ease;
                    transition: 0.4s ease;
                }

                &::after {
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                &::before {
                    left: 50%;
                    -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }

            input {
                width: 100%;
                position: relative;
                padding: 0.35rem 2rem 0.35rem 0.35rem;

                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &.active {
                .arrow {
                    &::before {
                        transform: rotate(-45deg);
                    }

                    &::after {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .selector-ui {
            position: absolute;
            width: 80%;
            height: auto;
            top: calc(100% + 10px);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 100;

            i {
                position: absolute;
                right: 1.75rem;
                top: 1.75rem;
                color: var(--color-main);
            }

            ul {
                padding: 0;
                margin: 0;
                max-height: 250px;
                -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                background-color: rgba(var(--color-rgb-main), .95);
                opacity: 0;
                overflow: auto;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;

                .list-filter {
                    margin: 1rem auto;
                    width: calc(100% - 2rem);
                    padding-right: 3rem;
                }

                li, .selector-item {
                    padding: 0 1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 0.35rem;
                    list-style: none;
                    transition: all 0.3s ease;

                    &.hide {
                        display: none;
                    }

                    label {
                        margin: 0;
                        width: 100%;
                        padding: 0.5rem 0;
                        color: var(--color-white);

                        &:hover {
                            cursor: pointer
                        }
                    }

                    input {
                        appearance: none;
                        border: 2px solid var(--color-white);
                        height: 1rem;
                        min-width: 1rem;
                        transition: all 0.3s ease;

                        &:hover {
                            cursor: pointer;
                        }

                        &:checked {
                            position: relative;
                            background-color: var(--color-white);

                            &::after {
                                content: "";
                                position: absolute;
                                width: 75%;
                                height: 35%;
                                top: 40%;
                                left: 55%;
                                border-bottom: 1px solid var(--color-black);
                                border-left: 1px solid var(--color-black);
                                -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                                transform: translate(-50%, -50%) rotate(-45deg);
                            }
                        }
                        
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(var(--color-rgb-black), .75);
                    }
                }

                &.active {
                    transform: scaleY(1);
                    opacity: 1;
                }

                &::-webkit-scrollbar {
                    width: 0.2rem;
                }

                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                &::-webkit-scrollbar-thumb {
                    background: #888;
                }

                &:-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }
        }   
    }

    #modal_posts_to_create {
        .post-item {
            border: 1px solid var(--color-main);
            border-radius: 0;    
        }

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .locations_list {
                margin: 0 auto;

                .selector-container {
                    font-size: .95rem;
                }

                .selector-ui {
                    font-size: 1rem;
                }
            }

            p {
                margin-bottom: 0;
                margin-right: 8px;
            }

            .btn-close {
                margin-left: 0;
            }
        }

        .modal-body {
            .post-item {
                height: 100%;
                background-color: var(--color-white);
                .image {
                    width: 100%;
                    padding-top: 100%;
                    position: relative;
                    
                    img {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
                
                .post-info {
                    padding: .75rem;
                    font-size: .75rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    h2 {
                        font-size: .75rem;
                        color: var(--color-black);
                    }

                    a {
                        color: var(--color-main);
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .form-control {
        border: 1px solid var(--color-main);
        color: var(--color-main);

        &:focus {
            border: 1px solid var(--color-main);
            color: var(--color-main);
        }
    }

    .form-label {
        color: var(--color-main);
    }

    .dropdown-menu {
        border-radius: 0;
        .dropdown-item { 
            font-size: .75rem;
            color: var(--color-black);
        }
    }
}

.cards .card {
    border-radius: 5px;
    border: 1px solid #1d2124;
}

.cards .card .image {
    position: relative;
    width: 100%;
    padding-top: 80%;
}

.cards .card .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.cards .card .image .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards .account {
    padding: 0 5px;
    margin-bottom: 1rem;
}

.cards .account .card {
    width: 100%;
    height: 100%;
    margin: 0;
}

.card.post .card-text {
    min-height: 320px;
}

.location-posts {
    border-bottom: 1px solid #ae9696;
}

.location-posts .cards {
    border: none;
}

.list-sheets:hover {
    cursor: pointer;
}

.msg_container {
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.msg_container .msg_box {
    max-height: 450px;
    max-width: 450px;
    width: 90vw;
    box-shadow: 0 0 15px 1px #7a00ff;
    -moz-box-shadow: 0 0 15px 1px #7a00ff;
    -webkit-box-shadow: 0 0 15px 1px #7a00ff;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 12px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
}

.msg_container .msg_box .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.msg_container .msg_box .msg_body {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.msg_container .msg_box .msg_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

/* Loading */
.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading .box {
    height: 90%;
    max-height: 300px;
    width: 90%;
    max-width: 300px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.loading .box img {
    width: 50%;
    display: block;
    margin: 0 auto 25px;
}

.loading .load-anim {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.loading .load-anim .item {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #4285f4;
    border-radius: 50%;
    animation: loading-item 2s infinite;
}
.loading .load-anim .item:nth-child(2) {
    animation-delay: 0.2s;
    background-color: #0f9d58;
}
.loading .load-anim .item:nth-child(3) {
    animation-delay: 0.4s;
    background-color: #f4b400;
}
.loading .load-anim .item:nth-child(4) {
    animation-delay: 0.6s;
    background-color: #db4437;
}

.loading .percent_anim {
    height: 25px;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    background: #fff;
    padding: 2px;
    overflow: hidden;
}

.loading .percent_anim .doing {
    position: relative;
    height: 100%;
    width: 0;
    background-image: linear-gradient(to right, #4285f4, #0f9d58);
    display: block;
    transition: width 0.3s cubic-bezier(0.37, 0.25, 0.55, 1.43);
    max-width: 100%;
    border-radius: 20px;
}

.loading .loading-text {
    text-align: center;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.loading .percent_anim .doing::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    background-size: 50px 50px;
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes loading-item {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.btn-and-alert {
    display: flex;
    align-items: baseline;
}

.btn-and-alert .alert {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.form-group.hide {
    display: none;
}

.locations-list li {
    list-style: none;
    margin-bottom: 1rem;
}

.locations-list li.hide {
    display: none;
}

.list-alert-gmb {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 2.5rem;
    right: 1rem;
    max-width: 30rem;
    z-index: 99999;
}

.gmb_alert {
    right: -5px;
    border-radius: 14px;
    padding: 1.2rem 2rem;
    transition: transform 0.4s cubic-bezier(0.52, 0.26, 0, 1.66);
    transform: translateX(102%);
    border: 2px solid #fff;
    margin-bottom: 0.5rem;
}

.gmb_alert.fail {
    background-color: #8c0606;
    color: #ffbaba;
}

.gmb_alert.success {
    background-color: #08541c;
    color: #94d499;
}

.gmb_alert.show {
    transform: translateX(0);
    right: 1rem;
}

.gmb_alert .title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.gmb_alert .text {
    margin: 0;
    font-size: 1rem;
}

#createPost .card {
    padding: 1rem;
}

#createPost .image {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

#createPost .image img {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location-options .d-flex {
    margin-bottom: 2rem;
    gap: 1rem;
}

#createPostByType form, #createPost form {
    overflow: hidden;
    transition: all 0.3s ease;
}

#createPostByType form.hide, #createPost form.hide {
    height: 0;
    display: none;
}

.btn:focus, .form-control:focus, .form-select:focus, .dropdown-toggle:focus {
    box-shadow: none!important;
}