<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?= $title ?></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<?= ROOT . '/theme/assets/css/login.css' ?>">

</head>

<body>
    <main>
        <form action="./register" method="post" class="col-8 mx-auto">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="pass" id="password">
            </div>

            <input class="btn btn-info mt-5 ms-auto d-block" type="submit" value="Submit">
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>


<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (el) => {
        el.preventDefault();

        async function postData(url, data) {
            const response = await fetch(url, {
                method: 'POST', 
                body: data
            });
            return response.json();
        }

        postData('./register', new FormData(form))
            .then(result => {
                if(result.status == 400) {
                    alert('Error to login in application!!!');
                } else {
                    window.location.href = "<?= ROOT ?>";
                }
            });
    })
</script>


</html>