<?php $v->layout("_theme"); ?>
<?php $showRemoveBuuton = false; ?>

<?php if(!isset($posts_list->error)) : ?>

    <div aria-label="breadcrumb">
        <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item"><a href="<?= ROOT ?>">Home</a></li>
            <li class="breadcrumb-item"><a href="<?= ROOT . "/listAccounts"; ?>">Accounts</a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $account_info->accountName; ?></li>
        </ol>
    </div>

    <?php if ($posts_list) : ?>
        <?php foreach ($posts_list as $account_posts) : ?>
            <?php if ($account_posts->local_post != 'Nenhum post encontrado!') : $showRemoveBuuton = true; ?>

                <div class="location-posts mb-4">
                    <h2 class="mb-3"><?= $account_posts->name; ?></h2>
                    <input type="hidden" name="location" value="<?= $account_posts->location; ?>">

                    <div class="cards row">
                        <?php foreach ($account_posts->local_post->localPosts as $post) { ?>
                            <?php $post_info = explode('/', $post->name);  ?>

                            <div class="col-lg-3 mb-3">
                                <article class="card localPost" data-account="<?= $account ?>" data-location="<?= $post_info[3] ?>" data-post="<?= $post_info[5] ?>" data-time="<?= $post->createTime; ?>">
                                    <?php $img_default = ROOT . "/theme/assets/img/store.png"; ?>

                                    <div class="image">
                                        <?php $image = isset($post->media[0]->googleUrl) ? $post->media[0]->googleUrl : $img_default; ?>

                                        <input hidden name="post-image" value="<?= $image ?>">
                                        <img class="card-img-top" src="<?= $img_default; ?>" alt="Card image cap">

                                        <a class="btn btn-secondary" href="<?= $image ?>" target="_blank">See image</a>
                                    </div>

                                    <div class="card-body post">
                                        <?php $resume = strlen($post->summary) > 120 ? substr($post->summary, 0, 120) . '...' : $post->summary ?>

                                        <p class="card-text summary" data-text="<?= $post->summary; ?>"><?= $resume; ?></p>
                                        <p class="card-text">Type: <?= $post->topicType; ?></p>
                                        <p class="card-text">Created: <?= $post->createTime; ?></p>
                                        <a class="card-link" target="_blank" href="<?= $post->searchUrl ?>">See this Post in Google Search</a>

                                        <input type="hidden" name="action_info" data-url="<?= $post->callToAction->url; ?>" data-type="<?= $post->callToAction->actionType; ?>">
                                        <input type="hidden" name="post_info" data-language="<?= $post->languageCode; ?>">
                                    </div>

                                    <div class="card-footer">
                                        <button class="btn btn-kgmb post-relaunch">Relaunch</button>
                                        <button class="btn btn-kgmb-alert post-delete" data-post-delete="<?= $post->name; ?>">Remove</button>
                                    </div>
                                </article>
                            </div>
                        <?php } ?>
                    </div>

                    <div class="col-12 mx-auto">
                        <div class="d-flex">
                            <button class="btn btn-kgmb-warn mb-3" id="relaunch_location_post" data-location="<?= $post_info[3]; ?>">Relaunch <?= $account_posts->name; ?> posts</button>
                            <p class="alert alert-warning ms-3 py-1">This action remove all olds posts of this location!</p>
                        </div>
                    </div>
                </div>

            <?php endif; ?>
        <?php endforeach; ?>
    <?php else : ?>
        <div class="container">
            <span>This location don´t have posts!</span>
        </div>
    <?php endif; ?>

    <input type="hidden" id="account" value="<?= $account_posts->account; ?>">
    <div class="my-4 d-flex">
        <button data-account="<?= $account; ?>" class="btn btn-kgmb-inverse account_new_post">Add new post</button>
        <button data-account="<?= $account; ?>" class="btn btn-kgmb-inverse account_new_post ms-2 alertPost">Add new alert</button>
        <button data-account="<?= $account; ?>" class="btn btn-kgmb-inverse list-sheets ms-2">Add posts from sheet</button>
        <?php if ($showRemoveBuuton) : ?>
            <button data-account="<?= $account; ?>" class="btn btn-kgmb-warn ms-2" id="relauch_posts">Relauch Posts</button>
        <?php endif; ?>
    </div>

    <div class="modal fade" id="createPostByType" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5></h5>
                </div>
                
                <div class="modal-body">
                    <div class="mb-3 multi-selector">
                        <select class="form-select" multiple id="locationsList" name="locationsList"></select>
                        <div class="selector-container mt-0">
                            <input type="text" role="listbox" class="selector_value">
                        </div>
                    </div>

                    <form data-type="STANDARD" id="createPostToAllLocations" name="createPostToAllLocations">
                        <div class="mb-3">
                            <label for="imageUrl" class="form-label">Image URL</label>
                            <input type="text" class="form-control" name="imageUrl" id="imageUrl" required>
                        </div>

                        <div class="mb-3">
                            <label for="postSummary" class="form-label">Post text</label>
                            <textarea name="postSummary" class="form-control" id="postSummary" rows="5"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="actionUrl" class="form-label">CTA</label>
                            <input type="text" class="form-control" name="actionUrl" id="actionUrl" required>
                        </div>

                        <button type="submit" class="btn btn-outline-primary">Create post</button>
                    </form>

                    <form class="hide" data-type="ALERT" id="createAlertToLocations" name="createAlertToAllLocations">
                        <div class="mb-3">
                            <label for="postSummary" class="form-label">Post text</label>
                            <textarea name="postSummary" class="form-control" id="postSummary" rows="5"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="actionUrl" class="form-label">CTA</label>
                            <input type="text" class="form-control" name="actionUrl" id="actionUrl" required>
                        </div>

                        <button type="submit" class="btn btn-outline-primary">Create alert</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="relaunchPost" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Relaunch posts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3 multi-selector">
                        <select class="form-select" multiple id="locationsList" name="locationsList"></select>
                        <div class="selector-container mt-0">
                            <input type="text" role="listbox" class="selector_value">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="PostRelaunch">Relaunch</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modal_sheets" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-lg-4">Sheet selection</h5>
                    <input type="text" class="form-control" name="sheetNameFilter" id="sheetNameFilter">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_sheets_columns_select" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sheets columns selector</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row flex-wrap">
                        <div class="mb-3 input-group">
                            <label for="link_img" class="input-group-text">Link image</label>
                            <select class="form-control" id="link_img"></select>
                        </div>

                        <div class="mb-3 input-group">
                            <label for="post_text" class="input-group-text">Post Text</label>
                            <select class="form-control" id="post_text"></select>
                        </div>

                        <div class="mb-3 input-group">
                            <label for="action_link" class="input-group-text">Action link</label>
                            <select class="form-control" id="action_link"></select>
                        </div>

                        <div class="mb-3 col-lg-6">
                            <label for="filter_date" class="form-label">Filter date by</label>
                            <select class="form-control fix" id="filter_date">
                                <option value="all">All</option>
                                <option value="today">Today</option>
                            </select>
                        </div>

                        <div class="mb-3 col-lg-6 form-group hide">
                            <label for="date_column" class="form-label">Column date</label>
                            <select class="form-control" id="date_column"></select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="post_sheet_preview" class="btn btn-outline-dark">Preview</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modal_posts_to_create" data-bs-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Posts preview</h5>
                    <div class="multi-selector locations_list col-lg-6">
                        <select class="form-select" multiple id="locationsList" name="locationsList"></select>
                        <div class="selector-container my-0 w-100">
                            <input type="text" role="listbox" class="selector_value">
                        </div>
                    </div>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" data-account="" id="btn_create_posts" class="btn btn-outline-dark">Create posts</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<?php else : ?>
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= ROOT ?>">Home</a></li>
            <li class="breadcrumb-item"><a href="<?= ROOT . "/listAccounts"; ?>">Accounts</a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $account_info->accountName; ?></li>
        </ol>
    </div>

    <p><?= $posts_list->error; ?></p>
<?php endif; ?>

<?php $v->start('scripts') ?>
    <script type="text/javascript">
        const root_url  = "<?= ROOT; ?>";
        const clone_url = "<?= ROOT . '/localPost/clone'; ?>";
        var  account    = "<?= $account; ?>";
    </script>
    <script src="<?= ROOT ?>/theme/assets/js/main.js" type="module"></script>
    <script src="<?= ROOT ?>/theme/assets/js/accounts.js" type="module"></script>
    <script src="<?= ROOT ?>/theme/assets/js/localPost.js" type="module"></script>
    <script src="<?= ROOT ?>/theme/assets/js/multiselector.js" type="module"></script>
<?php $v->end('scripts') ?>