    <?php
        $v->layout("_theme");
        $info = explode('/', $location_info->name);
        $img_default = ROOT . "/theme/assets/img/store.png";
    ?>

    <div aria-label="breadcrumb">
        <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item"><a href="<?= ROOT ?>">Home</a></li>
            <li class="breadcrumb-item"><a href="<?= ROOT . "/listAccounts"; ?>">Accounts</a></li>
            <li class="breadcrumb-item"><a href="<?= ROOT . "/accounts/{$account}/locations"; ?>">Locations</a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $location_info->title; ?></li>
        </ol>
    </div>

    <?php if (isset($posts_list->localPosts)) : ?>

        <div class="cards row">
            <?php foreach ($posts_list->localPosts as $post) {
                $post_info = explode('/', $post->name);  ?>

                <div class="col-lg-3">
                    <article class="card localPost mb-4" data-account="<?= $post_info[1] ?>" data-location="<?= $post_info[3] ?>" data-post="<?= $post_info[5] ?>">

                        <div class="image">
                            <?php $image = isset($post->media[0]->googleUrl) ? $post->media[0]->googleUrl : $img_default; ?>

                            <input hidden name="post-image" value="<?= $image ?>">
                            <img class="card-img-top" src="<?= $img_default; ?>" alt="Card image cap">

                            <a class="btn btn-secondary" href="<?= $image ?>" target="_blank">See image</a>
                        </div>

                        <div class="card-body">
                            <?php $resume = strlen($post->summary) > 120 ? substr($post->summary, 0, 120) . '...' : $post->summary ?>
                            <p class="card-text summary" data-text="<?= $post->summary; ?>"><?= $resume; ?></p>
                            <p class="card-text" data-type="<?= $post->topicType; ?>">Type: <?= $post->topicType; ?></p>
                            <p class="card-text">Created: <?= $post->createTime; ?></p>
                            <p class="card-text">State: <?= $post->state; ?></p>
                            <a class="card-link" target="_blank" href="<?= $post->searchUrl ?>">See this Post in Google Search</a>

                            <input type="hidden" name="action_info" data-url="<?= $post->callToAction->url; ?>" data-type="<?= $post->callToAction->actionType; ?>">
                            <input type="hidden" name="post_info" data-language="<?= $post->languageCode; ?>">
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-kgmb post-relaunch" data-account="<?= $post_info[1] ?>" data-location="<?= $post_info[3] ?>" data-post="<?= $post_info[5] ?>">Relaunch</button>
                            <button class="btn btn-kgmb-alert post-delete" data-account="<?= $post_info[1] ?>" data-location="<?= $post_info[3] ?>" data-post="<?= $post_info[5] ?>">Remove</button>
                        </div>
                    </article>
                </div>
            <?php } ?>
        </div>

        <div class="location-options">
            <div class="d-flex">
                <button class="btn btn-kgmb-inverse" data-bs-toggle="modal" data-bs-target="#createPost">New post</button>
                <button class="btn btn-kgmb-inverse" data-bs-toggle="modal" data-bs-target="#createAlertPost">New alert post</button>
                <button class="btn btn-kgmb-inverse list-sheets" data-account="<?= $account ?>" data-location="<?= $location; ?>">New post from sheet</button>
                
                <button class="btn btn-kgmb-warn" id="relaunch_location_post" data-location="<?= $location; ?>">Relaunch posts</button>
                <button class="btn btn-kgmb-alert" id="remove_location_post">Remove all posts</button>
            </div>

            <p class="alert alert-warning">The remove option will remove all posts from this location!</p>
        </div>

    <?php else : ?>
        <div class="d-flex justify-content-around">
            <div class="col-lg-7">
                <span>This location don´t have posts!</span>
            </div>
            <div class="col-lg-5 d-flex justify-content-around">
                <button class="btn btn-kgmb-inverse list-sheets">New post(s) from sheet</button>
                <button class="btn btn-kgmb-inverse" data-bs-toggle="modal" data-bs-target="#createPost">Create new post</button>
                <button class="btn btn-kgmb-inverse" data-bs-toggle="modal" data-bs-target="#createAlertPost">Create new alert</button>
            </div>
        </div>
    <?php endif; ?>

    <input type="hidden" id="account" value="<?= $account; ?>">
    <input type="hidden" id="location" value="<?= $location; ?>">

    <div class="modal fade" tabindex="-1" id="modal_sheets" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2">Sheet selection</span>
                        <input type="text" class="form-control" name="sheetNameFilter" id="sheetNameFilter">
                    </div>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_sheets_columns_select">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sheets columns selector</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row flex-wrap">
                        <div class="input-group mb-3">
                            <label for="link_img" class="input-group-text">Link image</label>
                            <select class="form-control" id="link_img"></select>
                        </div>

                        <div class="input-group mb-3">
                            <label for="post_text" class="input-group-text">Post Text</label>
                            <select class="form-control" id="post_text"></select>
                        </div>

                        <div class="input-group mb-3">
                            <label for="action_link" class="input-group-text">Action link</label>
                            <select class="form-control" id="action_link"></select>
                        </div>

                        <div class="mb-3 col-lg-6">
                            <label for="filter_date" class="form-label">Filter date by</label>
                            <select class="form-control fix" id="filter_date">
                                <option value="all">All</option>
                                <option value="today">Today</option>
                            </select>
                        </div>

                        <div class="mb-3 col-lg-6 form-group hide">
                            <label for="date_column" class="form-label">Column date</label>
                            <select class="form-control" id="date_column"></select>
                        </div>
                    </div>

                    <button id="post_sheet_preview" class="btn btn-kgmb-inverse">Preview</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_posts_to_create" data-bs-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Posts preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_create_posts" class="btn btn-kgmb-inverse">Create posts</button>
                    <button type="button" class="btn btn-kgmb-inverse" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createPost" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DEFAULT POST</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" id="postCreateButton" name="postCreateButton">
                        <input type="hidden" name="account" value="<?= $account ?>">
                        <input type="hidden" name="location" value="<?= $location ?>">
    
                        <div class="mb-3">
                            <label for="imageUrl" class="form-label">Image URL</label>
                            <input type="text" class="form-control" name="imageUrl" id="imageUrl" required>
                        </div>
    
                        <div class="mb-3">
                            <label for="postSummary" class="form-label">Post text</label>
                            <textarea name="postSummary" class="form-control" id="postSummary" rows="5"></textarea>
                        </div>
                    
                        <div class="mb-3">
                            <label for="actionUrl" class="form-label">CTA</label>
                            <input type="text" class="form-control" name="actionUrl" id="actionUrl" required>
                        </div>
                        
                        <button type="submit" class="btn btn-kgmb-inverse">Create post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createAlertPost" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">COVID 19 ALERT POST</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form class="" method="POST" id="alertCreate" name="alertCreate">
                        <input type="hidden" name="account" value="<?= $account ?>">
                        <input type="hidden" name="location" value="<?= $location ?>">
    
                        <div class="mb-3">
                            <label for="postSummary" class="form-label">Post text</label>
                            <textarea name="postSummary" class="form-control" id="postSummary" rows="5"></textarea>
                        </div>
    
                        <div class="mb-3">
                            <label for="actionUrl" class="form-label">CTA</label>
                            <input type="text" class="form-control" name="actionUrl" id="actionUrl" required>
                        </div>
    
                        <button type="submit" class="btn btn-kgmb-inverse">Create alert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <?php $v->start('scripts') ?>
    <script type="text/javascript">
        const root_url = "<?= ROOT; ?>";
        const clone_url = "<?= ROOT . '/localPost/clone'; ?>";
    </script>
    <script src="<?= ROOT ?>/theme/assets/js/localPost.js" type="module"></script>
    <?php $v->end('scripts') ?>