<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | <?= $title ?></title>

    <!-- CSS INIT -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<?= ROOT . '/theme/assets/css/admin.min.css' ?>">
    <!-- CSS FINAL -->
</head>
    <body>
        <main>
            <?php
                if( $v->section('content') ) :
                    echo $v->section('content');
                endif;
            ?>
        </main>

        <footer></footer>

    <!-- JS INIT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <?php if ($v->section('scripts')) : echo $v->section('scripts'); endif; ?>
    <!-- JS FINAL -->
    </body>
</html>