<?php $v->layout("_theme"); ?>

<main class="my-2 p-4 container">
    <h1>Registereds accounts in our database!!!</h1>

    <?php if ($accounts) : ?>
        <table class="table mt-4 table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">TYPE</th>
                </tr>
            </thead>
            
            <tbody>
                <?php foreach ($accounts as $account) { ?>
                    <?php $detail = json_decode($account->complete_data); ?>
                    <tr>
                        <td><?= $account->account_id; ?></td>
                        <td><?= $detail->accountName; ?></td>
                        <td><?= $detail->state->status; ?></td>
                        <td><?= $detail->type; ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    <?php endif; ?>
</main>