<?php $v->layout("_theme"); ?>

<main class="my-2 p-4 container">
    <h1>System settings</h1>

    <?php var_dump($configs); ?>

    <?php if(isset($configs->colors)) : ?>
        <form class="mt-4" id="colors">
            <?php foreach ($configs->colors as $key => $color) : ?>
                <div class="input-group mb-3">
                    <label for="<?= $key ?>" class="col-lg-3 input-group-text"><?= $key ?></label>
                    <input class="form-control" type="text" id="<?= $key ?>" value="<?= $color ?>">
                </div>
            <?php endforeach; ?>
        </form>
    <?php endif; ?>
</main>