<?php $v->layout("_theme"); ?>

<main class="mt-5 p-4">
    <div class="mb-3">
        <p>Welcome: <strong><?= $user; ?></strong></p>
    </div>

    <form id="logList" name="logList">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="logType">Log type</label>
                    <select class="form-select" name="logType" id="logType">
                        <option value="all" selected hidden>Choose...</option>
                        <option value="all">All</option>
                        <option value="application_remove_post">Remove post</option>
                        <option value="application_create_post">Create post</option>
                        <option value="application_login">Application login</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="orderBy">Order by</label>
                    <select class="form-select" name="orderBy" id="orderBy">
                        <option value="date" selected hidden>Choose...</option>
                        <option value="date">Date</option>
                        <option value="user">user</option>
                        <option value="action">Action</option>
                        <option value="action_details">Action detail</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="order">Order</label>
                    <select class="form-select" name="order" id="order">
                        <option value="ASC" selected hidden>Choose...</option>
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Downward</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="itensPerPage">Itens per page</span>
                    <select class="form-select" name="itensPerPage" id="itensPerPage">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="start_date">Start date</label>
                    <input class="form-control" type="date" name="start_date" id="start_date">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="end_date">Finish date</label>
                    <input class="form-control" type="date" name="end_date" id="end_date">
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-kgmb" value="Search">
    </form>

    <div class="log-list mt-5">
        <h3 class="mb-2">Log list</h3>
        <table class="table table-bordered table-striped" id="logTable">
            <thead>
                <tr>
                    <th class="col-lg-1">Date</th>
                    <th class="col-lg-1">User</th>
                    <th class="col-lg-1">Type</th>
                    <th class="col-lg-3">Action</th>
                    <th class="col-lg-3">Action details</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination"></ul>
        </nav>
    </div>
    
    <div class="d-flex py-3 mt-3 list-options">
        <button class="btn btn-kgmb-inverse" id="get_csv">Generate CSV</button>
        <a href="<?= $router->route('admin.accounts'); ?>" class="btn btn-kgmb-inverse">Accounts list</a>
        <a href="<?= $router->route('admin.locations'); ?>" class="btn btn-kgmb-inverse">Locations list</a>
    </div>
</main>

<?php $v->start('scripts') ?>
    <script type="text/javascript">
        const root_url = "<?= ROOT; ?>";
    </script>
    <script src="<?= ROOT ?>/theme/assets/js/admin/logs.js" type="module"></script>
<?php $v->end('scripts') ?>