<?php $v->layout("_theme"); ?>

<main class="my-2 p-4 container">
    <h1>Registereds locations in our database!!!</h1>

    <?php if ($locations) : ?>
        <table class="table mt-4 table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">ACCOUNT ID</th>
                    <th scope="col">LOCATION ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            
            <tbody>
                <?php foreach ($locations as $location) { ?>
                    <?php 
                        $detail = json_decode($location->location_data); 
                    
                        $status     = $detail->openInfo->status;
                        if($status == 'OPEN') {
                            $status = isset($detail->metadata->hasGoogleUpdated) == true ? "NOT_VERIFIED" : $status;
                        } 
                    ?>

                    <tr>
                        <td><?= $location->account_id; ?></td>
                        <td><?= $location->location_id; ?></td>
                        <td><?= $detail->title; ?></td>
                        <td data-status="<?= $status ?>"><?= str_replace('_', ' ', $status); ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    <?php endif; ?>
</main>